

<div class="challenge-display-tile">
    <div class="col-md-8">
      {{#link-to 'challenge' challenge.id}}<img src= {{challenge.image}}>
      {{/link-to}}
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{challenge.companyName}}</div>
        <div class="panel-body">
          {{challenge.productName}} for {{challenge.prize}} <br><br>
          <button class="btn btn-danger" {{action 'delete' challenge}}>Delete Challenge</button>
        </div>
      </div>
    </div>
</div>

 

