<div class="container">
<h2>More information about {{model.companyName}}'s challenge</h2>
<br>
<div class="row">
	<div class='col-md-2'>
	</div>
	<div class="col-md-4">
		<img src={{model.image}}>
	</div>
	<div class="col-md-4">
		<ul class="list-group">
  			<li class="list-group-item active">{{model.companyName}}</li>
  			<li class="list-group-item">Company Type: {{model.companyDescription}}</li>
  			<li class="list-group-item">Product Name:
  			{{model.productName}}</li>
  			<li class="list-group-item">Product Description:
  			{{model.productDescription}}</li>
  			<li class="list-group-item">Challenge Requirement:
  			{{model.requirement}}</li>
  			<li class="list-group-item">Prize: USD
  			{{model.prize}}</li>
  			<li class="list-group-item">Challenge expires in
  			{{model.expiryDate}} weeks</li>
		</ul>
	</div>
	<div class='col-md-2'>
	</div>
</div>
<h1> Video </h1>
<h3>Submit your videos</h3>
<div class="add-new-video">
{{new-video saveVideo="saveVideo" challenge=model}}
</div>
<div class="row">
  {{#each model.videos as |video|}}
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        Username: {{video.username}}</li>
      <li class="list-group-item">Video Description: {{video.videodescription}}
      </li>
      <li class="wordwrap list-group-item">Video Url: {{video.videourl}}</li>
      <li class="list-group-item">Rating: {{video.rating}}</li>
      <li class="list-group-item">Comment: {{video.comment}}</li>

      <li class="list-group-item">< button {{action 'thumbsup'}}>


      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button> 
      {{input type="text" value="0" class="iop"}}</li>
      <li class="list-group-item"><button class="btn btn-danger"

       

        {{action 'delete' video}}><i class="fa fa-trash-o" aria-hidden="true">
        </i>  Delete Video</button></li>
    </ul>
  </div>
  {{/each}}
</div>



</div><!-- End of Container -->
