<div class="container">
  <div>
    <h2>Video challenge submitted by {{model.username}}</h2>
    <h4>Description: {{model.videodescription}}</h4>
    <div class="row video-display">
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-12">
        <video width="800" height="600" controls>
          <source src={{model.videourl}}>
        </video>
      </div><br><br>
      <div style="float:left">{{new-review saveReview="saveReview" video=model}}</div>
      </div>

      <!-- <div class="col-md-4"></div> -->
    </div>


<div>
  <div>{{#each model.reviews as |review|}}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 comment-tile">
      <div class="panel panel-primary video-display-panel">
        <div class="panel-heading">Ratings from {{model.username}}</div>
        <div class="panel-body">
          Rating: {{review.rating}}<br>
          Comment: {{review.comment}}<br>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  {{/each}}
  <!-- End of Row -->
</div>
</div>
</div>
